$grey: #ededed;
$darker-grey: #d3d3d3;
$red: #e83a3a;
$purple: #8953b2;
$transparent-black: rgba(0, 0, 0, 0.54);

$md-radio-size: 20px;
$md-radio-checked-size: 12px; 
$md-radio-ripple-size: 15px;
$md-checkbox-size: 20px;
$md-checkbox-padding: 4px;
$md-checkmark-width: 2px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-image: url('../bg.png');
    background-size: cover;
    font-size: 1em;
}

body, input, button{
    font-family: 'Open Sans', sans-serif;
}

.form{
    background-image: linear-gradient(to top, rgba(107, 66, 177, 0.4), rgba(153, 71, 178, 0.4), rgba(192, 78, 177, 0.4), rgba(226, 89, 174, 0.4), rgba(255, 104, 170, 0.4));
    padding: 0.8em;
    text-align: center;
    width: 50%;
    margin: 2em auto;
    border-radius: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
    
    form{
        margin: 1em 0;
    }
    
    .text-input{
        padding: 0.7em;
        border: none;
        background: $grey;
        margin: 2em auto 1em auto;
        border-radius: 1.5em;
        width: 80%;
        font-size: 1em;
    }
    
    input{
        transition: 0.2s ease;
        &:focus{
            outline: none;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
        }
    }

    h1{
        margin: 0.5em 0;
    }
    
    h3{
        margin: 1em 0;
    }
    
    .interests{
        margin: 0.5em 0;
    }
}

.grid{
    display: grid;
    grid-template-columns: [left-col] 50% [right-col] 50%;
    grid-template-rows: [row-1]18% [row-2]10% [row-3]18% [row-4]15% [row-5]10% [row-6]18% [row-7]10%[row-8]18%;
    align-items: center;
}

.item-name{
    grid-column: left-col / left-col;
    grid-row: row-1 / row-1;
}

.item-email{
    grid-column: right-col / right-col;
    grid-row: row-1 / row-1;
}

#email-label{
    grid-column: right-col / right-col;
    grid-row: row-2 / row-2;
}

#name-label{
    grid-column: left-col / left-col;
    grid-row: row-2 / row-2;
}

.item-password{
    grid-column: left-col / left-col;
    grid-row: row-3 / row-3;
}

.item-radios{
    grid-column: right-col / right-col;
    grid-row: row-3 / row-3;
}

#password-label{
    grid-column: left-col / left-col;
    grid-row: row-4 / row-4;
}

#gender-label{
    grid-column: right-col / right-col;
    grid-row: row-4 / row-4;
}

#interests-header{
    grid-column: span 2;
    grid-row: row-5 / row-5;
}

.item-interests{
    grid-column: span 2;
    grid-row: row-6 / row-6;
}

#interests-label{
    grid-column: span 2;
    grid-row: row-7 / row-7;
}

small{
    align-self: start;
    vertical-align: top;
}

.button{
    padding: 0.5em 1.5em;
    border-radius: 1.3em;
    font-size: 1.5em;
    border: none;
    width: 10rem;
    transition: 0.3s ease;
    text-align: left;
    cursor: pointer;
    position: relative;
    background: $grey;
    grid-column: span 2;
    grid-row: row-8 / row-8;
    justify-self: center;
    margin: 1em auto;
    
    &:after{
        position: absolute;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        opacity: 0;
        top: 17px;
        right: 35px;
        content: '\f054';
        color: black;
    }
    
    &:hover{
        width: 12rem;
    }
    
    &:hover:after{
        opacity: 1;
        animation: arrow 1s linear infinite;
        
        @keyframes arrow{
            0% {
                opacity: 0;
                right: 35px;
            }
            50% {
                opacity: 1;
                right: 25px;
            }
            100% {
                opacity: 0;
                right: 15px;
            }
        }
    }
}

.md-radio {
    margin: 10px 0;
    width: 30%;
    display: inline-block;

    input[type="radio"] {
        display: none;
        &:checked + label:before {
            border-color: $purple;
            animation: ripple 0.2s linear forwards;   
        }
        &:checked + label:after {
            transform: scale(1);
        }
    }
    
    label {
        display: inline-block;
        height:$md-radio-size;
        position: relative;
        padding: 0 2px 0 ($md-radio-size + 10px);
        margin-bottom: 0;
        cursor: pointer;
        vertical-align: bottom;
        &:before, &:after {
            position: absolute;            
            content: '';  
            border-radius: 50%;
            transition: all .3s ease;
            transition-property: transform, border-color;
        }
        &:before {
            left: 0;
            top: 0;
            width: $md-radio-size;
            height: $md-radio-size;
            border: 2px solid $transparent-black;
        }
        &:after {
            top: 6px;
            left: 6px;
            width:$md-radio-checked-size;
            height:$md-radio-checked-size;
            transform: scale(0);
            background:$purple;
        }
    }
    
    @keyframes ripple {
      0% {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
      }
      50% { 
        box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0.1);
      }
      100% {
        box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0);
      }
    }
}

.md-checkbox {
    position: relative;
    margin: 10px;
    text-align: left;
    display: inline-block;

  label {
    cursor: pointer;
    &:before, &:after {
      content: "";
      position: absolute;
      left:0;
      top: 0;
    }
    
    &:before {
      // box
      width: $md-checkbox-size;
      height: $md-checkbox-size;
      background: #fff;
      border: 2px solid $transparent-black;
      border-radius: 2px;
      cursor: pointer;
      transition: background .3s;
    }
  
    &:after {
      // checkmark
    }    
  }
  
  input[type="checkbox"] {
    outline: 0;
    margin-right: $md-checkbox-size - 10px;
    visibility: hidden;

    &:checked {
       + label:before{
        background: $purple;
      }
      + label:after {
        
        $md-checkmark-size: $md-checkbox-size - 2*$md-checkbox-padding;

        transform: rotate(-45deg);

        top: ($md-checkbox-size / 2) - ($md-checkmark-size / 4) - $md-checkbox-size/10;
        left: $md-checkbox-padding;
        width: $md-checkmark-size;
        height: $md-checkmark-size / 2;
        
        border: $md-checkmark-width solid $grey;
        border-top-style: none;
        border-right-style: none;
      } 
    }
  }
 
}

.shake{
    background: $red !important;
}

@media (max-width: 1156px){
    .form{
        width: 70%;
    }
    
    .grid{
        display: block;
        height: auto;
        
        .button, .md-radio{
            display: block;
            text-align: center;
            margin: 10px auto;
        }
    }
}

@media (max-width: 600px){
    .form{
        width: 90%;
    }
}